@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-1 {
    display: flex;
    justify-content: center;
}

.card-1 {
    display: flex;
    margin: 15px;
    width: 1400px;
    height: 400px;
    border-radius: 30px;
    background-color: #d9d9d9;
    align-items: center;
    background-image: url("b1.jpg");
    background-position: 20% 50%;
}

.card-1 h1 {
    padding-left: 25px;
    padding-bottom: 15px;
    font-size: 5em;
    letter-spacing: 25px;
}

.card-1 li {
    left: 225px;
    padding-left: 25px;
    font-size: 2em;
    letter-spacing: 5px;
    list-style-type: none;
}

.container-2 {
    display: flex;
    justify-content: center;
    padding: 17px;
    background-color: #d9d9d9;
}

.container-2 img {
    width: 90px;
    height: 90px;
    margin: 15px 40px 15px 40px;
}

.card-2 {
    display: flex;
    margin: 15px;
    width: 1400px;
    height: 800px;
    justify-content: center;
}

.card-2 div {
    justify-content: center;
}

.card-2 h2 {
    font-size: 4em;
    padding: 100px 0 100px 0;
}

.card-2 p {
    font-size: 1.3em;
    padding: 10px;
}
